body {
	margin: 0;
}

.container {
	width: 80%;
	margin: 50px auto;
	background: #DDDDDD;
}


.left-sidebar {
	background: #2E4153;
	width: 30%;
	min-height: 600px;
	overflow: hidden;
	float: left;
}
.main-content {
	overflow: hidden;
	width: 70%;
	min-height: 600px;
}

.admin-pages ul {
	list-style: none;
	padding: 0;
}

.admin-pages ul li {

}
.admin-pages ul li a {
	text-decoration: none;
	color: white;
	font-family: arial;
	display: block;
	padding: 10px;
	border-bottom: 1px solid grey;
	background: #D14233;
}